/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
/*  UPDATED! flip the pane when hovered */
.flip-container:hover .back {
  transform: rotateY(0deg);
}
.flip-container:hover .front {
  transform: rotateY(180deg);
}

.flip-container, .front {
  width: 400px !important;
  height: 100px!important;
}
.flip-container, .back {
  width: 700px;
  height: auto;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
  transform: rotateY(0deg);
  background-color: lightcyan;
}

/* back, initially hidden pane */
.back {
  z-index: 200;
  transform: rotateY(-180deg);
  border: 1px solid lightgrey;
}

#first-card {
  width: 500px;
  height: 100px;
}

#second-card {
  width: 600px;
  height: 300px;
}

#third-card {
  width: 200px;
  height: 300px;
}

#fourth-card {
  width: 00px;
  height: 300px;
}

/*
	Some vertical flip updates
*/
.vertical.flip-container {
  position: relative;
}

.vertical .back {
  transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
  transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
  transform: rotateX(180deg);
}
