<div id="top-section">
  <div id="img-holder">
    <img src="assets/whiteWBlackM4A.jpg" alt="Media For All logo">
  </div>
  <p class="thin-font margin-top-5">Media For All</p>
  <p class="font-25 white padding-left-40 padding-top-60 padding-right-40 margin-bottom-0"><b>Sign In or Create an Account</b></p>
  <p class="white padding-left-40 margin-bottom-0">______</p>
  <p class="grey padding-left-40 padding-right-60 padding-top-5">For the best experience with Media For All.</p>
</div>
<div id="middle-section">
  <nz-tabset>
    <nz-tab nzTitle="Sign Up">
      <div nz-col="24">
        <button nz-button class="primary sign-up" [routerLink]="['../sign-up', 'setup']">Sign Up With Email</button>
      </div>
      <div nz-col="24">
        <button nz-button class="primary skip" [routerLink]="['../', 'job-listings']">Skip & Search Jobs</button>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Log In">
      <div class="padding-top-5">
        <app-log-in-form></app-log-in-form>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
<div id="bottom-section">
</div>
