#top-section {
  background-color: #0f0d0f;
  height: 63vh;
}

#middle-section {
  background-color: #0f0d0f;
  padding-top: 5px;
  text-align: center;
  height: 10vh;
}

#bottom-section {
  background-color: #89898b;
  height: 27vh;
}

.sign-up {
  margin-top: 22px !important;
  width: 270px;
  text-transform: uppercase;
  height: 40px !important;
  box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px !important;
  margin-left: 25px !important;
  /*filter:drop-shadow(1px 4px 5px #e3e3e3);*/
}

.skip {
  margin-top: 20px !important;
  width: 270px;
  margin-left: 25px !important;
  text-transform: uppercase;
  height: 40px !important;
  border-radius: 30px !important;
  background-color: #808082 !important;
  color: white  !important;
  border: 1px solid #11B5BC !important;
  /*filter:drop-shadow(1px 4px 5px #e3e3e3);*/
}


#img-holder {
  display: flex;
  justify-content: center;
  padding-top: 18%;
}

img {
  width: 18vw;
  height: 18vw;
}

.thin-font {
  font-size: 16px !important;
}

::ng-deep .ant-tabs-nav .ant-tabs-tab {
  color: #808082;
}

::ng-deep .ant-tabs-nav .ant-tabs-tab:hover {
  color: white;
}

::ng-deep .ant-tabs-nav .ant-tabs-tab-active {
  color: white;
}

::ng-deep .ant-tabs-nav-scroll {
  padding-top: 15px;
}

::ng-deep .ant-tabs-top .ant-tabs-ink-bar-animated {
  color: #11B5BC;
  /*width: 150px !important;*/
}

::ng-deep .ant-tabs-ink-bar {
  background-color: #11B5BC;
}
