<button nz-button class="primary" [routerLink]="['../sign-up', 'setup']">This Goes To Sign Up</button>


<div nz-col nzSpan="12" nzOffset="6">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <div class="width">
			category
		  </div>
    </div>
    <div class="back" >
      <nz-table #nzTable [nzData]="dataSet" [nzPageSize]="10">
        <thead>
        <tr>
          <th nzShowExpand colspan="2">Notes</th>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
          <tr>
            <td colspan="2" nzShowExpand [(nzExpand)]="data.expand"></td>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.address}}</td>
            <td><a href="#">Apply</a></td>
          </tr>
          <tr [nzExpand]="data.expand">
            <td></td>
            <td colspan="6">{{data.description}}</td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
		</div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      category
    </div>
    <div class="back" >
      jobs
    </div>
  </div>
</div>


<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      category
    </div>
    <div class="back" >
      jobs
    </div>
  </div>
</div>


<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      category
    </div>
    <div class="back" >
      jobs
    </div>
  </div>
</div>

</div>
