<button nz-button class="primary" [routerLink]="['../sign-up', 'setup']">This Goes To Sign Up</button>

<nz-calendar>
  <ul *nzDateCell="let date" class="events">
    <ng-container [ngSwitch]="date.getDate()">
      <ng-container *ngSwitchCase="8">
        <li *ngFor="let item of listDataMap.eight">
          <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
        </li>
      </ng-container>
      <ng-container *ngSwitchCase="10">
        <li *ngFor="let item of listDataMap.ten">
          <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
        </li>
      </ng-container>
      <ng-container *ngSwitchCase="11">
        <li *ngFor="let item of listDataMap.eleven">
          <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
        </li>
      </ng-container>
    </ng-container>
  </ul>
  <ng-container *nzMonthCell="let month">
    <div *ngIf="getMonthData(month) as monthData" class="notes-month">
      <section>{{ monthData }}</section>
      <span>Backlog number</span>
    </div>
  </ng-container>
</nz-calendar>


<nz-row>
  <nz-col nzSpan="5">
    <nz-slider [nzMin]="1" [nzMax]="5" name="value1" ngDefaultControl [(ngModel)]="value1"></nz-slider>
  </nz-col>

</nz-row>


<button nz-button nzType="primary" (click)="showModalMiddle()">Vertically centered modal dialog</button>
<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="Vertically centered modal dialog" (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
  <p>some contents...</p>
  <p>some contents...</p>
  <p>some contents...</p>
</nz-modal>

