<div id="top-section">
  <div nz-row>
    <div nz-col nzSpan="9">
      <button id="back" nz-button nzBlock [routerLink]="['../../', 'job-listings']"><p class="font-25 padding-top-10">&#x276E;</p></button>
    </div>
    <div nz-col nzSpan="14">
      <div id="img-holder">
        <img src="assets/aquaM4A.jpg" alt="Media For All logo">
      </div>
    </div>
  </div>
  <p class="thin-font padding-top-10">Sign Up</p>
</div>
<div id="middle-section">
  <div class="padding-top-40">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="20" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="20">
        <input nz-input formControlName="email" id="email">
        <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="20" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="20">
        <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
        <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your password!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="20" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="20">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
        <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
          <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
            Error- your passwords don't match
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="20" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="20" [nzValidateStatus]="validateForm.controls['phoneNumber']">
        <nz-input-group>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input>
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">Please input your phone number!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    </form>
        <label nz-checkbox (click)="checked = !checked">
          <span>I have read the agreement <nz-tooltip nzTitle="I agree to something that will be set out here.">
                <i nz-tooltip class="anticon anticon-question-circle-o"></i>
              </nz-tooltip></span>
        </label>
    </div>
</div>
<div id="bottom-section">
  <button *ngIf="checked" nz-button class="next-button-white" [routerLink]="['../', 'interests']">Next</button>
</div>
