<div id="top-section">
  <p class="thin-font padding-top-200">Media For All</p>
</div>
<div id="middle-section">
  <p class="font-25 white padding-left-40 padding-top-60 padding-right-70 margin-bottom-0"><b>Find Production Crew Jobs</b></p>
  <p class="white padding-left-40 margin-bottom-0">______</p>
  <p class="grey padding-left-40">Apply now.<br>No experience necessary.</p>
</div>
<div id="bottom-section">
  <div nz-row>
  <div id="overlay" nz-col nzSpan="19">
<p class="white all-caps center-text padding-top-20">Get Started</p>
  </div>
    <div nz-col nzSpan="5">
      <button id="full-height" nz-button nzBlock nzType="primary" [routerLink]="['./', 'sign-in-or-up']"><p class="font-25 padding-top-10">&#x276F;</p></button>
    </div>
  </div>
</div>
