<form nz-form [formGroup]="validateLogin" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item class="margin-bottom-10">
    <nz-form-control>
      <nz-input-group>
        <input [ngClass]="{'wide-input': wideInput, 'high-input': !wideInput}" type="text" nz-input formControlName="userName" placeholder="Username">
      </nz-input-group>
      <nz-form-explain class="padding-left-30" *ngIf="validateLogin.get('userName').dirty && validateLogin.get('userName').errors">Please input your username!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="margin-bottom-10">
    <nz-form-control>
      <nz-input-group>
        <input [ngClass]="{'wide-input': wideInput, 'high-input': !wideInput}" type="password" nz-input formControlName="password" placeholder="Password">
      </nz-input-group>
      <nz-form-explain class="padding-left-30" *ngIf="validateLogin.get('password').dirty && validateLogin.get('password').errors">Please input your Password!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
        <button nz-button class="login-form-button" (click)="logInUser()" [nzType]="'primary'">Log in</button>
        <a class="padding-left-40 margin-bottom-20" (click)="forgotPassword()">Forgot password</a>
    </nz-form-control>
  </nz-form-item>
</form>
