#top-section {
  background-color: #11B5BC;
  height: 9vh;
}

#middle-section {
  background-color: #ffffff;
  display: block;
  /*height: 82vh;*/
}

#bottom-section {
  background-color: #afafb1;
  height: 12vh;
  display: block;
}

.slider-definition {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.back {
  background-color: #11B5BC !important;
  border: none !important;
  border-radius: 0px;
  color: white;
  font-size: 18px;
}

.back:hover {
  background-color: #0b777c !important;
}

::ng-deep .ant-btn:hover {
  color: #11B5BC;
  background: #11B5BC;
  border-color: #11B5BC;
}

::ng-deep .ant-btn:focus {
  color: #11B5BC;
  background: #11B5BC;
  border-color: #11B5BC;
}

::ng-deep .ant-btn.active {
  color: #11B5BC;
  background: #11B5BC;
  border-color: #11B5BC;
}

::ng-deep .ant-btn-block {
  background-color:  #11B5BC;
  border-color: #11B5BC;
}

::ng-deep .ant-btn {
  border-color: #11B5BC;
  background: #11B5BC;
}

::ng-deep .ant-slider {
  margin: 10px 0px 5px 0px;
}

::ng-deep .ant-modal-body {
  padding: 10px 15px;
  height: 70vh;
}

::ng-deep .ant-slider-handle {
  border: 2px solid #11B5BC;
  background-color: white;
}

::ng-deep .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border: 2px solid #11B5BC;
  background-color: #11B5BC;
}

::ng-deep.ant-slider-track {
  background-color: #11B5BC;
}

::ng-deep .ant-slider-track:hover {
  background-color: #11B5BC;
}

::ng-deep .ant-btn {
  border: none;
  border-radius: 0px;
  background-color: #11B5BC;
}

::ng-deep .ant-btn-block {
  height: 9vh !important;
  margin-left: -10px !important;
  background-color: #11B5BC;
}

::ng-deep .ant-modal-footer {
  margin-top: 25px;
  padding: 20px 16px;
}
